<ion-pane class="light-bg" >
      <ion-header-bar class="bar-positive">
        <button class="button button-clear button-white iconfont icon-fanhui" ng-click="goBack()">
          <i class="icon ion-ios-arrow-left"></i>
        </button>
        <div class="title">关于我们</div>
      </ion-header-bar>
      <ion-content>
        <div class="aboutus">
          <p>
            武汉小药药医药科技有限公司成立于2015年12月，是国内领先的提供医药电子商务综合性服务的专业公司。公司技术力量雄厚，在医药互联网应用方面有着深厚的技术底蕴和丰富的平台研发、整体规划与服务创新经验。 主营产品"药帮忙"简单易用，终端可以在B2B平台上进行药品采购，亦可通过"药帮忙"实现基于互联网的本地化经营和会员管理。公司将充分发挥互联网的特点和优势，不断进行产品升级换代，使平台易用性更高，在线终端的经营效率更高。
          </p>
        </div>
      </ion-content>
</ion-pane>
