<ion-pane>
    <div class="bar bar-header bar-positive">
      <button class="button button-clear button-white iconfont icon-fanhui" ng-click="goBack()">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
        <div class="title">修改密码</div>
    </div>
    <ion-content class="scroll-content ionic-scroll  has-header padding-top2 reg">
        <div class="list margin2">
            <div class="item item-input">
                <input type="password" placeholder="输入旧密码" maxlength="16" name="oldpwd" ng-model="user.oldpwd" required>
            </div>
            <label class="item item-input">
                <input type="password" placeholder="请输入6-16位且字母加数字的新密码" maxlength="16" id="pwd" name="pwd" ng-model="user.pwd">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="确认新密码" maxlength="16" id="pwd1" name="pwd1" ng-model="user.pwd1">
            </label>

            <div style="padding:20px;">
                <button class="button button-positive button-block cd-bgRed" ng-click="findPwd()">确定</button>
            </div>

        </div>
    </ion-content>
</ion-pane>
