<ion-tabs class="tabs-icon-top wms-tabs">

  <ion-tab title="首页" icon-on="iconfont icon-zhuye1" icon-off="iconfont icon-zhuye" ui-sref="app.home">
    <ion-nav-view animation="slide-left-right" name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="任务" icon-on="iconfont icon-renwu1" icon-off="iconfont icon-renwu" ui-sref="app.tasks">
    <ion-nav-view animation="slide-left-right" name="tasks"></ion-nav-view>
  </ion-tab>

  <ion-tab title="报表" icon-on="iconfont icon-baobiao" icon-off="iconfont icon-baobiao1" ui-sref="app.statsbars">
    <ion-nav-view animation="slide-left-right" name="statsbars"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-on="iconfont icon-gerenzhongxin1" icon-off="iconfont icon-gerenzhongxin" ui-sref="app.mine">
    <ion-nav-view animation="slide-left-right" name="mine"></ion-nav-view>
  </ion-tab>


</ion-tabs>
