<style>
  .scroll{height: 100%;}
</style>
<ion-view>
  <ion-content>
    <ion-tabs class="tabs-icon-only tabs-positive tabs-top taskTabs">
      <ion-tab title="入库上架" ui-sref="app.home.rukushangjia">
        <ion-nav-view animation="slide-left-right" name="rukushangjia"></ion-nav-view>
      </ion-tab>

      <ion-tab title="出库拣货" ui-sref="app.home.chukujianhuo">
        <ion-nav-view animation="slide-left-right" name="chukujianhuo"></ion-nav-view>
      </ion-tab>

      <ion-tab title="库内盘点" ui-sref="app.home.coming">
        <ion-nav-view animation="slide-left-right" name="coming"></ion-nav-view>
      </ion-tab>

      <ion-tab title="货位盘查" ui-sref="app.home.coming">
        <ion-nav-view animation="slide-left-right" name="coming"></ion-nav-view>
      </ion-tab>

      <ion-tab title="货位调整" ui-sref="app.home.coming">
        <ion-nav-view animation="slide-left-right" name="coming"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
