<ion-view view-title="Dashboard">
  <ion-content class="padding" style="top:44px;">
    <div class="bar bar-header item-input-inset chartBar taskBar">
      上架标签/托盘编号:
      <div class="item-input-wrapper" style="margin-right: 20px;">
        <input type="text" ng-model="input.bianhao" placeholder="请扫码或者输入上架标签/托盘编号">
        <i class="icon ion-qr-scanner" ng-click="tpsaomiao()"></i>
      </div>
      商品条码/货位条码:
      <div class="item-input-wrapper">
        <input type="text" ng-model="huowei.shangpinbianhao" placeholder="请扫码或者输入商品条码/商品条码">
        <i class="icon ion-qr-scanner" ng-click="spsaomiao()"></i>
      </div>

      <button class="button wmsBtn" ng-click="searchSj()">
        查询
      </button>
    </div>

    <div class="list tableWrap">

      <table class="table" ng-if="shangpin.length>0">
        <thead>
        <tr>
          <th>序号</th>
          <th>已上架</th>
          <th>商品编号</th>
          <th>商品名称</th>
          <th>包装数量</th>
          <th>包装单位</th>
          <th>批号</th>
          <th>整件数</th>
          <th>零散数</th>
          <th>数量</th>
          <th>计划货位</th>
          <th>实际货位</th>
          <th>批准文号</th>
          <th>生产厂家</th>
          <th>验收评定</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in shangpin" ui-sref="rukushangjiaList({BillDtlID:x.BillDtlID})">
          <td>{{$index+1}}</td>
          <td>
            <span ng-if="x.zhuangtai=='1'">是</span>
            <span ng-if="x.zhuangtai=='0'">否</span>
          </td>
          <td>{{x.shangpinbianhao}}</td>
          <td>{{x.shangpinmingcheng}}</td>
          <td>{{x.baozhuangshuliang}}</td>
          <td>
            <span ng-if="x.baozhuangdanwei=='1'">盒</span>
            <span ng-if="x.baozhuangdanwei=='2'">包</span>
            <span ng-if="x.baozhuangdanwei=='3'">袋</span>
            <span ng-if="x.baozhuangdanwei=='4'">副</span>
            <span ng-if="x.baozhuangdanwei=='5'">卷</span>
            <span ng-if="x.baozhuangdanwei=='6'">枚</span>
            <span ng-if="x.baozhuangdanwei=='7'">瓶</span>
            <span ng-if="x.baozhuangdanwei=='8'">台</span>
            <span ng-if="x.baozhuangdanwei=='9'">套</span>
            <span ng-if="x.baozhuangdanwei=='10'">条</span>
            <span ng-if="x.baozhuangdanwei=='11'">桶</span>
            <span ng-if="x.baozhuangdanwei=='12'">筒</span>
            <span ng-if="x.baozhuangdanwei=='13'">支</span>
            <span ng-if="x.baozhuangdanwei=='14'">贴</span>
            <span ng-if="x.baozhuangdanwei=='15'">罐</span>
            <span ng-if="x.baozhuangdanwei=='16'">克</span>
            <span ng-if="x.baozhuangdanwei=='17'">其他</span>
          </td>
          <td>{{x.pihao}}</td>
          <td>{{x.zhengjianshu}}</td>
          <td>{{x.lingsanshu}}</td>
          <td>{{x.syshuliang}}</td>
          <td>{{x.jihuahuowei}}</td>
          <td>{{x.shijihuowei}}</td>
          <td>{{x.pizhunwenhao}}</td>
          <td>{{x.shengchanchangjia}}</td>
          <td>
            <span ng-if="x.yanshoupingding=='0'" style="color: #F7B103;">待处理</span>
            <span ng-if="x.yanshoupingding=='1'" style="color: #417505;">合格</span>
            <span ng-if="x.yanshoupingding=='2'" style="color: #E10000;">不合格</span>
            <span ng-if="x.yanshoupingding=='3'" style="color: #901212;">拒收</span>
          </td>
        </tr>
        </tbody>


      </table>
      <ion-infinite-scroll ng-if="hasData=='true'" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </div>
    <div class="noData" ng-if="shangpin.length==0">暂无数据</div>
  </ion-content>
</ion-view>
