<ion-view view-title="小药药WMS-报表">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear">
      <i class="icon ion-ios-keypad"></i>
      报表
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div style="display: flex;flex-flow: column; height: 100%;">

      <div class="bar bar-header item-input-inset chartBar">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="date" placeholder="开始时间"   ng-model="chart.beginTime">
        </label>
        <span class="dash"></span>
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="date" placeholder="结束时间"   ng-model="chart.endTime">
        </label>

        <button class="button wmsBtn" ng-click="loadChart()">
          查询
        </button>
      </div>

      <div style="background: #fff;flex: 1;width: 100%;height: 100%;display: flex;">
        <ng-echarts class="echarts" style="background: #fff; flex: 1;width: 100%;height: 100%;" ec-config="barConfig" ec-option="barOption" ></ng-echarts>
      </div>

    </div>

  </ion-content>
</ion-view>
